{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_definitions/search_form

    This template renders the search form.

    Example context (json):
    {
        "actionurl": "https://domain.example/blocks/definitions/search.php"
    }
}}
<div class="searchform">
    <form action="{{actionurl}}" class="form-inline">
        <div class="input-group w-100">
            <label class="sr-only" for="definitions_search">{{#str}}search{{/str}}</label>
            <input id="definitions_search" name="definitions_search" type="text" class="form-control" size="10">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="searchform_button" type="submit">{{#str}}go{{/str}}</button>
            </div>
        </div>
        <div class="input-group w-100 pt-2">
            <label class="sr-only" for="selectdictionary">{{#str}}selectdictionary, block_definitions{{/str}}</label>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="selectdictionary" id="selectDictionary1" value="dictionary" {{#selectdictionary}}checked{{/selectdictionary}}>
               <label class="form-check-label" for="selectDictionary1">{{#str}}dictionary, block_definitions{{/str}}</label>
            </div> 
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="selectdictionary" id="selectDictionary2" value="thesaurus"  {{#selectthesaurus}}checked{{/selectthesaurus}}>
               <label class="form-check-label" for="selectDictionary2">{{#str}}thesaurus, block_definitions{{/str}}</label>
            </div>
        </div>
    </form>
</div>
<div class="block_definitions_footer mt-3 pt-1 text-right">
    <i>Powered by </i><a href="https://www.merriam-webster.com/" target="_blank"><img src="{{{ mwlogo }}}" alt="Merriam-Webster"></a>
</div>
