.block_definitions-tabs-container .functionallabel {
    color: #4a7d95;
    font-size: 70%;
    font-weight: 700;
}

.block_definitions-tabs-container li {
    padding-bottom: 0.25em;
}

ul.block_definitions_close {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.block_definitions_footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.block_definitions_related h1 {
    color: #225f73;
    font-size: 100%;
    font-weight: 700;
    padding-bottom: 0.25rem;
}

.block_definitions_related p {
    margin-bottom: 0.25rem;
}
ol.definitions_list_thesaurus li {
    padding-bottom: 0.5rem;
}