{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_analyticswidget/widget.mustache

    Example context (json):
    {
        "teacher":{
            "html":""
        },
        "my":{
            "html":""
        }
    }
}}

<div
  class="analyticswidget"
  data-region="analyticswidget-view-content"
  id="analyticswidget-view-{{ uniqid }}"
>

  {{#teacher}}
  <div class="aw_teacher">
    <ion-item class="aw_header">
        <h6>{{#str}}teacher_level, block_analyticswidget{{/str}}</h6>
      </ion-item>
    <ion-grid class="ion-no-padding">
    <ion-row>{{{teacher.html}}} </ion-row>
    </ion-grid>
  </div>
  {{/teacher}}

  {{#my}}
  <div class="aw_my">
   
    <ion-grid class="ion-no-padding">
    <ion-row>{{{my.html}}} </ion-row>
    </ion-grid>
  </div>
  {{/my}}
</div>
<style>
.aw_stats .maw_card_content{
text-align: center;
font-size: 20px;
}

</style>